<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='styles/app.css')}}">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!-- COMMENT -->
	<div class="body">
		<form method="POST" enctype=multipart/form-data style="color: black">
			<input type="file" name="file">
			<input type="submit" name="upload">
		</form>
	</div>
</body>
</html>